@import url(./styles/colors.css);
@import url(./styles/bar.css);
@import url(./styles/power.css);
@import url(./styles/media.css);
@import url(./styles/control_panel.css);
@import url(./styles/workspaces.css);
@import url(./styles/sys_info.css);
@import url(./styles/weather.css);
@import url(./styles/calendar.css);
@import url(./styles/network.css);
@import url(./styles/notifications.css);

* {
    all: unset;
    color: var(--foreground);
    font-family: "FantasqueSansM Nerd Font Mono";
    font-size: 30px;
    border-radius: 20px;
}