@import url(./styles/colors.css);
@import url(./styles/bar.css);
@import url(./styles/power.css);

* {
    all: unset;
    color: var(--foreground);
    font-family: "Lilex Nerd Font Mono";
    font-size: 20px;
    border-radius: 20px;
}