#date-time {
    background-color: var(--background);
    padding-right: 10px;
    padding-left: 10px;
    min-height: 50px;
    border-radius: 0px 0px 4px 4px;
}

#expander-box {
    padding: 0px 100px;
    border-radius: 0%
}

#left-corner {
    background-color: var(--background);
    border-radius: 0px 0px 4px 0px;
}

#right-corner {
    background-color: var(--background);
    border-radius: 0px 0px 0px 4px;
}