:vars {
    --foreground: #FBFBFB;
    --background: #1D43A4;
    --background-alt: #1D253F;
    --background-highlight: #123180;
    --highlight: #EBC06C;
    --shadow: #06070C;
    --status-ok: #43e060;
    --status-fail: #f02929;
    --background-highlight-2: #153995;
}