#control-panel-box {
    background-color: var(--background);
    padding: 50px;
    border-radius: 0px 0px 4px 4px;
}

#control-panel-left-corner {
    background-color: var(--background);
    border-radius: 0px 0px 4px 0px;
}

#control-panel-left-corner {
    background-color: var(--background);
    border-radius: 0px 0px 0px 4px;
}