.view-box {
    background-color: var(--background);
    padding: 40px 60px;
    border-radius: 0px 0px 20px 20px;
}

.corner-box {
    margin-bottom: 20px;
}

.left-corner {
    background-color: var(--background);
    border-radius: 0px;
}

.right-corner {
    background-color: var(--background);
    border-radius: 0px;
}

#profile-image {
    border-radius: 100%;
}

#profile-image-box {
    border-radius: 100%;
    box-shadow: 0px 0px 20px var(--highlight);
}

#productivity-stack {
    margin: -20px;
    padding: 20px;
}

.productivity-switch-button {
    padding: 10px;
    margin: 10px;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.productivity-switch-button:hover {
    background-color: var(--background-alt);
    box-shadow: 0px 0px 10px var(--highlight);
}