#power-menu-box {
    background-color: var(--background);
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border: 3px solid var(--foreground);
    opacity: 0.95;
}

#power-menu-toggle {
    background-color: var(--background);
    border: 3px solid var(--foreground);
    border-radius: 100%;
}

.power-menu-icon {
    padding: 10px;
}

.power-menu-button {
    border: 3px solid var(--foreground);
    margin: 5px;
    min-width: 100px;
}

.power-menu-label {
    font-weight: bolder;
    padding: 10px;
}

.power-menu-button:hover {
    background-color: var(--background-alt);
    box-shadow: 5px 5px var(--background-alt);
}

.confirm-dialog {
    background-color: var(--background);
    border: 3px solid var(--foreground);
    opacity: 0.95;
}

.confirmation-menu {
    padding: 30px;
}