#power-menu {
    margin-right: 20px;
    margin-left:10px;
    margin-top: 10px;
    min-height: 40px;
}

#power-menu-box {
    background-color: var(--background);
    padding: 5px;
    margin-top: 20px;
    margin-right: 5px;
}

#power-menu-toggle {
    background-color: var(--background);
    border-radius: 100%;
    padding: 5px;
}

#power-menu-toggle:hover {
    background-color: var(--background-highlight);
}

.power-menu-toggle-icon {
    font-family: tabler-icons;
    font-size: 28px;
    padding: 5px;
}

.power-menu-button {
    margin: 6px;
    border-radius: 100%;
    padding: 6px;
    background-color: var(--background-highlight);
    box-shadow: 0px 0px 5px var(--background-highlight);
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.power-menu-label {
    font-weight: bolder;
    padding: 10px;
}

.power-menu-button:hover {
    background-color: var(--background-alt);
    box-shadow: 0px 0px 10px var(--highlight);
}

.confirm-dialog {
    background-color: var(--background);
}

.confirmation-menu {
    padding: 30px;
}

.confirmation-menu-button {
    margin: 5px;
    min-width: 150px;
    background-color: var(--background-highlight);
    box-shadow: 0px 0px 10px var(--background-highlight);
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.confirmation-menu-button:hover {
    background-color: var(--background-alt);
    box-shadow: 0px 0px 10px var(--highlight);
}

.power-menu-icon {
    font-family: tabler-icons;
    font-size: 40px;
    padding: 4px;
}