#power-menu-box {
    background-color: var(--background);
    padding: 5px;
    margin-top: 20px;
    margin-right: 5px;
    border: 3px solid var(--foreground);
}

#power-menu-toggle {
    background-color: var(--background);
    border: 3px solid var(--foreground);
    border-radius: 100%;
}

.power-menu-icon {
    padding: 10px;
}

.power-menu-button {
    border: 3px solid var(--foreground);
    margin: 5px;
    border-radius: 100%;
}

.power-menu-label {
    font-weight: bolder;
    padding: 10px;
}

.power-menu-button:hover {
    background-color: var(--background-alt);
}

.confirm-dialog {
    background-color: var(--background);
    border: 3px solid var(--foreground);
}

.confirmation-menu {
    padding: 30px;
}

#revealer {
    background-color: var(--background);
}

.confirmation-menu-button {
    border: 3px solid var(--foreground);
    margin: 5px;
    min-width: 100px;
}

.confirmation-menu-button:hover {
    background-color: var(--background-alt);
}